@model Project.Domain.Models.Todo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Todo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isactive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isactive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Createdby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Createdby)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updatedby)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updatedby)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updateddate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updateddate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.isDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.isDeleted)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
